* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(143, 142, 147);
  background: linear-gradient(
    90deg,
    rgba(143, 142, 147, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

/* .background {
  background-color: #8f8e93;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
} */

.container {
  width: 75%;
  background-color: white;
  height: 100%;
  margin: 75px auto;
  padding: 0 20px 20px 20px;
  border-radius: 15px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav,
ul {
  list-style: none;
}
nav {
  width: 80%;
}

.list {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  cursor: pointer;
}

.shoe {
  height: 400px;
  width: 500px;
  margin-right: 80px;
}

.main {
  display: flex;
  justify-content: space-around;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 50px;
}

button {
  margin-top: 70px;
  background-color: black;
  font-size: 18px;
  color: white;
  width: 150px;
  height: 55px;
  border: none;
}

h1 {
  font-weight: bold;
  font-size: 40px;
}
p {
  width: 70%;
}
